<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        <a href="/Properties/Index" class="nav-link">Properties</a>
                    </li>
                    @if (Session["User"] != null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Messages", "ShowMessages", "Messages", new { area = "" }, new { @class = "nav-link" })

                        </li>

                    }



                    @if (Session["User"] != null)
                    {
                        var user = (Property_Rental_Management.Models.User)Session["User"];
                        if (user.UserType == "a")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Apartments", "Index", "Apartments", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Messages", "Index", "Messages", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Appointments", "Index", "Appointments", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }
                    }

                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
