@model IEnumerable<PropertyRentalManagementWebSite.Models.Apartment>

@{
    ViewBag.Title = "Apartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apartments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApartmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApartmentID })
            </td>
        </tr>
    }

</table>
