@model IEnumerable<Property_Rental_Management.Models.Apartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (Session["User"] != null)
    {
        var user = (Property_Rental_Management.Models.User)Session["User"];
        if (user.UserType == "a" || user.UserType == "m")
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
@using (Html.BeginForm("Index", "Apartments", FormMethod.Get))
{
    <p>
        Search: <input type="text" name="searchString" value="@ViewBag.SearchString" />
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Property.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (Session["User"] != null)
                {
                    var user = (Property_Rental_Management.Models.User)Session["User"];
                    if (user.UserType == "a" || user.UserType == "m")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentID })
                        <text> | </text>
                        @Html.ActionLink("Details", "Details", new { id = item.ApartmentID })
                        <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ApartmentID })
                        <text> | </text>
                    }

                }
            </td>
        </tr>
    }


</table>
