@model PropertyRentalManagementWebSite.Models.Property

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Property</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ManagerID)
        @Html.TextBoxFor(model => model.ManagerID, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ManagerID)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
